<h1>Angular Services Example</h1>
<hr>

<p>
  In Angular we can easily seperate functionality of a component into a service. By using the @Injectable attribute services can be injected as dependencies into a component. 
  <br>
  Services are singeltons and can therefore be used to share state across an application. In the example below, we have a counter component which uses a service for incremeting a counter. It does not matter which button you click, the counter is updated in all components because they share the same service.
</p>

<hr>
<app-counter></app-counter>
<hr>
<br>
<app-counter></app-counter>
<hr>
<br>
<app-counter></app-counter>
<hr>